@model UpYourChannel.Web.ViewModels.AddVideoInputViewModel
<div class="col-md-4">
    <h1>Add Your Video:</h1>
</div>
<div class="col-md-4">
    <form asp-controller="RequestedVideo" asp-action="AddRequestedVideo" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Link"></label>
            <input asp-for="Link" class="form-control" />
            <span asp-validation-for="Link" class=" = text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" rows="7" class="form-control" aria-label="With textarea"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <hr />
        <input type="submit" class="btn btn-primary" value="Add">
        <a class="btn btn-primary float-right" asp-controller="Video" asp-action="AllVideos" role="button">Go to videos</a>
    </form>
</div>
