@using UpYourChannel.Web.ViewModels.Video
@model AllVideosViewModel
<head>
    <link rel="stylesheet" href="~/css/d.css" />
</head>
<div class="container text-center">
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="text-center bottom-align-text">
                <h2>Feel free to add your video:</h2>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="text-center">
                <h1 class="display-4">All Videos</h1>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container text-center">
    <div class="row">
        <div class="col-sm-4 text-center">
            <a asp-controller="Video" asp-action="AddVideo" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add your Video</a>
        </div>
        <form method="post" asp-controller="Video" asp-action="AllVideos" class="col-md-4 @*form-inline d-flex*@ text-center form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input required name="searchString" class="form-control" type="text" placeholder="Search"
                   aria-label="Search">
        </form>
        <div class="col-sm-4 text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by:
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Date</a>
                </div>
            </div>

            <div class="btn-group">
                <div class="dropdown show">
                    <a class="btn btn-primary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category:
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a asp- class="dropdown-item" href="#">FilmAndAnimation</a>
                        <a class="dropdown-item" data->Music</a>
                        <a class="dropdown-item" href="#">Sport</a>
                        <a class="dropdown-item" href="#">CarsAndVehicles</a>
                        <a class="dropdown-item" href="#">PetsAndAnimals</a>
                        <a class="dropdown-item" href="#">TravelAndEvents</a>
                        <a class="dropdown-item" href="#">Gaming</a>
                        <a class="dropdown-item" href="#">PeopleAndBlogs</a>
                        <a class="dropdown-item" href="#">Comedy</a>
                        <a class="dropdown-item" href="#">Entertainment</a>
                        <a class="dropdown-item" href="#">NewsAndPolitics</a>
                        <a class="dropdown-item" href="#">HowToAndStyle</a>
                        <a class="dropdown-item" href="#">Education</a>
                        <a class="dropdown-item" href="#">ScienceAndTechnology</a>
                    </div>
                </div>
            </div>
            @*izpolzvaiki enumeraciqta   <div class="btn-group">
                    <select class="btn btn-danger dropdown-toggle form-control" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"
                            asp-for="Category" asp-items="@Html.GetEnumSelectList<Category>()">
                        <option value="1">sdfsdfsdf</option>
                    </select>
                </div>*@

        </div>
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        @foreach (var video in Model.AllVideos)
        {
            <div class="col-sm-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src=@video.IFrameSource allowfullscreen></iframe>
                </div>
                <label text-justify text-dark">@video.Title</label>
            </div>
        }
    </div>
</div>
<br />


