@model UpYourChannel.Web.ViewModels.Post.PostSubjectViewModel

<br />
<br />
<br />
<head>
    <link rel="stylesheet" href="~/css/forumSubjects.css" />
</head>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md text-center">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <br />
                        <h2 class="text-center">Number 1 Youtube forum!</h2>
                        <p class="text-center">Feel free to choose topic you're interested in.</p>
                    </div>
                </div>
                <div class="ibox-content forum-container">

                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <samll>Total posts: @Model.TotalPosts</samll>
                            <a class="float-right btn btn-primary" asp-controller="Post" asp-action="CreatePost">Add Post</a>
                            <h3>Topics</h3>
                        </div>


                    </div>

                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-shield"></i>
                                </div>
                                <a asp-controller="Post" asp-action="AllPosts" asp-route-category="1" class="forum-item-title">General Discussions</a>
                                <div class="forum-sub-title">Discuss about general things in youtube system!</div>
                            </div>
                            <div class="col">
                                <div class="float-right forum-info">
                                    <span class="views-number text-center">
                                        @Model.PostForCategories["GeneralDiscussions"]
                                    </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a asp-controller="Post" asp-action="AllPosts" asp-route-category="2" class="forum-item-title">Introduction</a>
                                <div class="forum-sub-title">New to the youtube community? How to start youtube channel? </div>
                            </div>
                            <div class="col">
                                <div class="float-right forum-info">
                                    <span class="views-number text-center">
                                        @Model.PostForCategories["Introduction"]
                                    </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <a asp-controller="Post" asp-action="AllPosts" class="forum-item-title">All Posts</a>
                                <div class="forum-sub-title">This forum features announcements from the community staff. If there is a new post in this forum, please check it out. </div>
                            </div>
                            <div class="col">
                                <div class="float-right forum-info">
                                    <span class="views-number text-center">
                                        @Model.TotalPosts
                                    </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Staff Discussion</a>
                                <div class="forum-sub-title">This forum is for private, staff member only discussions, usually pertaining to the community itself. </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    1450
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    652
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    572
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <samll>Total posts: 17,800,600</samll>
                        </div>
                        <h3>Other subjects</h3>
                    </div>

                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Lorem Ipsum is simply dummy text. </a>
                                <div class="forum-sub-title">Various versions have evolved over the years, sometimes by accident, sometimes on purpose passage of Lorem Ipsum (injected humour and the like).</div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    1516
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    238
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    180
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bomb"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">There are many variations of passages</a>
                                <div class="forum-sub-title"> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the . </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    1766
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    321
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    42
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bookmark"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">The standard chunk of Lorem Ipsum</a>
                                <div class="forum-sub-title">Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    765
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    90
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    11
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-ambulance"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Lorem Ipsum, you need to be sure there</a>
                                <div class="forum-sub-title">Internet tend to repeat predefined chunks as necessary, making this the</div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    2550
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    122
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    92
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>