@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">We are here to help you!</h1>
</div>
<br />
<br />
<div class=" container">
    <div class="row ">
        <div class="col-sm-4 card">
            <div class="mr-2">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/1Fp3rRNqup_OSmNRsKKCqMXtlOYjA_ONpoBHE8zxQVMdv2HzOfRahD2ewLz0iTzc2xVFfhLpTqOkHIlk7SOpIOmdgXl3qYbX3dOLbR9G8HEiOyVrS0Y" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Wanna make better tags?</h5>
                    <p class="card-text">You just need to enter one word and your tags automatically will appear!</p>
                    <a asp-controller="Tag" asp-action="TagHelper" class="btn btn-primary">Check it</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card">
            <div class="mr-2">
                <img class="card-img-top" src="https://steverottercom.files.wordpress.com/2017/07/get-more-youtube-views-and-subscribers.jpg?w=720" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Wanna make better tags?</h5>
                    <p class="card-text">You just need to enter one word and your tags automatically will appear!</p>
                    <a asp-controller="Tag" asp-action="TagHelper" class="btn btn-primary">Check it</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card" style="width: 18rem;">
            <div class="mr-2">
                <img class="card-img-top" src="https://steverottercom.files.wordpress.com/2017/07/get-more-youtube-views-and-subscribers.jpg?w=720" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Wanna make better tags?</h5>
                    <p class="card-text">You just need to enter one word and your tags automatically will appear!</p>
                    <a asp-controller="Tag" asp-action="TagHelper" class="btn btn-primary">Check it</a>
                </div>
            </div>
        </div>
    </div>
</div>