<head>
    <link rel="stylesheet" href="~/css/d.css" />
</head>

<br />
<br />
<br />
<br />
<div class="text-center">   
    <br />
    <h1 class="display-4">Need help with your tags?</h1>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        <form method="post" asp-controller="Video" asp-action="AllVideos" class="col-sm-4 form-inline d-flex text-center input-group ">
            <input class="form-control" type="text" placeholder="Enter your word:"
                   aria-label="Enter your word:">
            <span class="text-danger"></span>
        </form>
    </div>
</div>
<br />
<div class="container">
    <div class="col-md-4 card">
        <div class="row">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="form-control col-md-4">
        <p> heegwffew</p>
    </div>
</div>