<div class="text-center">
    <br />
    <h1 class="display-4">Number 1 Youtube forum!</h1>
</div>
<br />
<br />
<div class="media-body">
    <h4 class="media-heading">Post.Title</h4>
    <p>The dog is a member of the genus Canis, which forms part of the wolf-like canids, and was the first species and the only large carnivore to have been domesticated. The dog and the extant gray wolf are sister taxa, as modern wolves are not closely related to the population of wolves that was first domesticated.</p>
    <ul class="list-inline list-unstyled text-left">
        <li class="list-inline-item">
            <i class="fas fa-user-edit"></i> post.UserUserName
        </li>
        <li class="list-inline-item">
            <i class="far fa-calendar"></i> post.CreatedOn
        </li>
        <li class="list-inline-item">
            <i class="fas fa-comments"></i> post.CommentsCount comments
        </li>
    </ul>
</div>